.btn,
.Button {
    color: var(--color-primary);
}

.tag,
.badge,
.btn.Is_Default, 
.Button.Is_Default {
    color: #fff;
    min-width:140px;
    height: 48px;
    line-height: 48px;

}
body .layout-top .content .ThemeGrid_Container, body .layout-top .header .ThemeGrid_Container {
    max-width: 100%;

}
